<div class="row">
  <div class="col-sm-6">This is the building I found</div>
  <div class="col-sm-3"><%= @building.building_name %></div>
  <div class="col-sm-3"><%= @building.building_code %></div>
</div>
