<!DOCTYPE HTML>
<html>
  <head>
    <!-- crafted using http://ningbit.github.io/blog/2013/06/28/how-to-integrate-bootstrap-css-into-your-sinatra-site/ -->
    <!-- Styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        background-image:url("/img/subtle_white_feathers.png");
        padding-top: 60px;
      }
    </style>
    <!-- Ensure proper rendering and zooming on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Llamageddon, the Musical</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Buildings Service</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><a href="/buildings">View buildings</a></li>
            <li><a href="/buildings/new">Add building</a></li> 
          </ul>
        </div>
      </div>
      </nav>
    <%= yield %>
    <div>
      <h6>No llamas were harmed in the making of this website</h6>
    </div>
    <!-- jQuery via CDN but with local fallback, see https://developers.google.com/speed/libraries/devguide#jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
      if (typeof jQuery == 'undefined') {
        document.write(unescape("%3Cscript src='/js/jquery-2.1.3.min.js' type='text/javascript'%3E%3C/script%3E"));
      }
    </script>
    <!-- Bootstrap jQuery plugins, compiled and minified -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>

