<!DOCTYPE HTML>
<html>
  <head>
    <!-- crafted using http://ningbit.github.io/blog/2013/06/28/how-to-integrate-bootstrap-css-into-your-sinatra-site/ -->
    <!-- Styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px;
      }
    </style>
    <title>LLamageddon, the Musical</title>
  </head>
  <body>

    <%= yield %>

    <p>No llamas were harmed in the making of this website</p>

    <!-- jQuery via CDN but with local fallback, see https://developers.google.com/speed/libraries/devguide#jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
      if (typeof jQuery == 'undefined') {
        document.write(unescape("%3Cscript src='/js/jquery-2.1.3.min.js' type='text/javascript'%3E%3C/script%3E"));
      }
    </script>
    <!-- Bootstrap jQuery plugins, compiled and minified -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>

